<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Eysenck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Eysenck.Properties.Settings>
            <setting name="Choleric" serializeAs="String">
                <value>Холерик</value>
            </setting>
            <setting name="Sanguine" serializeAs="String">
                <value>Сангвиник</value>
            </setting>
            <setting name="Phlegmatic" serializeAs="String">
                <value>Флегматик</value>
            </setting>
            <setting name="Melancholic" serializeAs="String">
                <value>Меланхолик</value>
            </setting>
            <setting name="NormLie" serializeAs="String">
                <value>Искренность</value>
            </setting>
            <setting name="Lie" serializeAs="String">
                <value>Неискренность</value>
            </setting>
            <setting name="FileName" serializeAs="String">
                <value>Questions.txt</value>
            </setting>
            <setting name="OutFile" serializeAs="String">
                <value>out.txt</value>
            </setting>
        </Eysenck.Properties.Settings>
    </userSettings>
</configuration>